<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>T1E01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>245D0EDC1C84A673004E14EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>245D0EF31C84A674004E14EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>245D0EFE1C84A674004E14EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
